@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force DraftJS editor to behave as LTR */
.custom-rtl-editor .DraftEditor-root {
    direction: ltr !important;
    text-align: left !important;
    unicode-bidi: plaintext !important;
  }
  
  /* Optionally center it in the block visually */
  .custom-rtl-editor {
    text-align: right;
  }
  
  .public-DraftStyleDefault-block.public-DraftStyleDefault-ltr{
    margin: 0px !important;
  }

  input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Custom scrollbar */
.thin-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 10px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
